#bog{
    
    font-weight:bold;
    color: rgb(88, 109, 48)
    
}

#mud{
    font-weight:bold;
    color:rgb(83, 53, 24);
    text-align:center
}
*{
    margin:0;
    padding:0
}
#base{
    background: rgb(69, 107, 107);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#background{
      width: 70vmin;
  height: 70vmin;
  background: #82994c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#spookster {
  position: relative;
  border: 0.5vmin solid black;
  width: 30vmin;
  height: 30vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: 0;
  box-sizing: border-box;
  background: #ffdcff;
}