#bog{
    
    font-weight:bold;
    color: rgb(88, 109, 48)
    
}

#mud{
    font-weight:bold;
    color:rgb(83, 53, 24);
    text-align:center
}
*{
    margin:0;
    padding:0
}
#base{
    background: rgb(69, 107, 107);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#background{
      width: 70vmin;
  height: 70vmin;
  background: #82994c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#spookster {
  position: relative;
  border: 0.5vmin solid black;
  width: 30vmin;
  height: 30vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: 0;
  box-sizing: border-box;
  background: #86c0af80;
}
#feets {
  display: flex;
  width: 30vmin;
}
#feet { 
  width: 7.5vmin;
  height: 6vmin;
  border: 0.5vmin solid black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 0;
  background: #86c0af80;
}
#eye {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  background: #000;
  border-radius: 50%;
  top: 13vmin;
  left: 5vmin;
  box-shadow: 14vmin 0;
}
#eye:before{
  content: "";
  position: absolute;
  background: white;
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 50%;
  left: 2vmin;
  box-shadow: 14vmin 0 white;
}
#snoot {
  position: absolute;
  width: 4vmin;
  height: 2vmin;
  border: 0.7vmin solid black;
  border-bottom-left-radius: 4vmin;
  border-bottom-right-radius: 4vmin;
  border-top: 0;
  top: 16vmin;
  left: 12vmin;
}
#left-waggler, #right-waggler {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  border: 0.5vmin solid black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 0;
}
#left-waggler {
  top: 22vmin;
  left: 6vmin;
  transform: rotate(-45deg)
}
#right-waggler{
  top: 22vmin;
  left: 18vmin;
  transform: rotate(45deg)
}